
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: #ddd;
  font-family: sans-serif;
  box-sizing: border-box;
  color: #444;
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.game .container {
  max-width: calc(100vw - 3rem);
  max-height: calc(100vh - 6rem);
  overflow: auto;
  background-color: #eee;
  outline: .25rem solid #fff;
  box-shadow: 0 1.5rem 5rem -1rem rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 1.5rem 5rem -1rem rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 1.5rem 5rem -1rem rgba(0, 0, 0, .3);
  -ms-box-shadow: 0 1.5rem 5rem -1rem rgba(0, 0, 0, .3);
  -o-box-shadow: 0 1.5rem 5rem -1rem rgba(0, 0, 0, .3);
}

.game .score {
  font-size: .75rem;
  height: 3rem;
  line-height: 3rem;
}

.game .newgame {
  font-size: .75rem;
  height: 3rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

.game .newgame a {
  padding: 0 .5rem;
  text-decoration: none;
}

.game .newgame a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

td {
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .15), inset 1px 1px 0 #fff;
  -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .15), inset 1px 1px 0 #fff;
  -moz-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .15), inset 1px 1px 0 #fff;
  -ms-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .15), inset 1px 1px 0 #fff;
  -o-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, .15), inset 1px 1px 0 #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

td > p {
  display: block;
  width: 1rem;
  height: 1rem;
  font-size: .75rem;
  line-height: 1rem;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

td:not(.opened):not(.gameover) {
  cursor: pointer;
}

td.opened {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
  background-color: #e5e5e5;
}

td.bomb {
  content: '💣';
}

.source {
  padding: .5rem;
}
